.row 
    .col-12 
        .lk-tab-title.text-center Зарегистрировать чек
.row 
    .col-12.gold.text-center.mb-40
        .lk-step 
            .lk-step-box Шаг 1. Загрузите фото
.row#step-1
    .col-6 
        label.upload-photo(for="file-receipt") 
            +img('icons/upload-receipt.svg')
            |Загрузить фото чека
        input#file-receipt(type="file" accept="image/*" )
    .col-6
        h5.gold К регистрации в Акции принимаются чеки, если:
        ul
            li.li-lk фото чека качественное, чек сфотографирован полностью, не стоит загружать фотографию только QR кода
            li.li-lk данные, указанные на чеке, такие как дата покупки, время покупки, итого по сумме чека, №ФН, №ФД, №ФПД введены правильно
            li.li-lk кассовый чек должен быть выбит кассиром в период c 11.10.2021 по 28.11.2021
            li.li-lk все символы должны быть четко видны
            li.li-lk наличие QR-кода на кассовом чеке обязательно, он должен быть читаемый
            li.li-lk в чеке должно отображаться наименование Акционной продукции

.row#step-2
    .col-12.d-flex.justify-content-center 
        #img-crop
    .row
        .col-4
        .col-4.mt-20 
            button.btn-lk.btn-red#other-photo.mx-a.w-100
                span.gold Другое фото
        .col-4
    .row 
        .col-12.mt-60 
            h5.gold.text-center Если QR-код не распознается и фискальные признаки не считываются, то введите данные вручную.
            .d-flex.justify-content-center
                a.fiskal-link.mx-a(type="button" data-bs-toggle="modal" data-bs-target="#modal-fiskal") Где найти фискальные данные на чеке?

    form.row.needs-validation.mx-100.mt-40(novalidate)
        .col-sm-4.mb-24
            input(type="number" placeholder="Серия" required ).form-control
            .invalid-feedback Введите cерию
        .col-sm-4.mb-24
            input(type="number" placeholder="Номер" required ).form-control
            .invalid-feedback Введите номер
        .col-sm-6.mb-24
            button.btn-lk.btn-red.w-100.px-0#nalog(type="submit") 
                span.gold Сохранить данные
        
