.row 
    .col-12 
        .lk-tab-title.text-center Мои заявки
.row 
    .col-12 
        .table-responsive
            table#appl.receved-code-table.g-table
                thead
                    tr
                        th.nowrap.date-appl Дата и время заявки
                        th.nowrap.num-appl № заявки
                        th.nowrap.date-event Дата розыгрыша
                        th.nowrap.type-event Тип розыгрыша
                        th.status-event Статус
                tbody
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status.status_active Участвует сегодня
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status.status_canceled Не выиграла
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status.status_success 500 Р
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
                    tr
                        td 12.11.2022
                        td 2
                        td 12.11.2022
                        td Еженедельный
                        td
                            .status Ожидает розыгрыша
